
/* General styles */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

h1 {
    color: teal;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

p,ul,li {
    margin: 10px 20px;
    font-size: 1rem;
    color: #333;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    color:#333;
    margin: 15px;
    padding:20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: 'Arial',sans-serif;
    height: auto;
}

nav a {
    /* color: white;
    text-decoration: none; */
    font-weight: bold;
    padding: 10px 20px;
}

nav a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

header {
   
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

footer {
    background-color:  #f5f5f5;
    color: #333333;
    padding:20px 30px;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #cccccc;
}

footer a {
    /* font-size: 1rem; */
    color: #0066cc; 
    text-decoration: none; 
    margin: 0 10px; 
}

footer a:hover {
    color: #004d99; 
    text-decoration: underline; /
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
        padding: 0 10px;
    }

    div {
        margin: 10px 0;
        padding: 5px;
    }

    header h1 {
        font-size: 2rem;
    }

    footer a {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    footer a {
        font-size: 0.7rem;
    }
}
