h1{
    color:teal;
}
div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* border-top: solid 0.5px teal;
    */
}

p{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

footer{
    border-top: solid 1px grey;
}
header{
    /* background-color: #0047ab; */
    background-color: teal;
    color: #ffffff;
    /* padding: 10px; */
    text-align: center;
    font-size: 1.5em;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

footer{
    background-color: #333333;
    color: #ffffff;
    /* padding: 15px 20px; */
    text-align: center;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width:100%;
    box-shadow: 0-2px 5px rgba(0,0,0,0.2);
}
footer a{
    color:#ffcc00;
    text-decoration: none;
}
footer a:hover{
    color: teal;
    text-decoration: underline;
}
header h1{
    margin: 0;
    font-weight: bold;
    color: white;
}